# yaml-language-server: $schema=https://www.schemastore.org/dependabot-2.0.json
---
version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: ci
      include: scope
    labels:
      - dependencies
    groups:
      all:
        patterns: ["*"]

  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: build
      prefix-development: chore
      include: scope
    labels:
      - dependencies
    groups:
      all:
        patterns: ["*"]
